.filterText{
    position: absolute;
    left: 75px;
    font-weight: bold;
    font-size: 26px;
}

.filterUl{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-weight: bold;
    font-size: 16px;
}

.filterLi{
    margin:auto;
}