.textDecoration{
    text-decoration: none;
    color: black;
}

.logo{
    position: absolute;
    display: inline;
    width: 80px;
    height: 80px;
    left: 350px;
}

.container{
    width: 1920;
    background-color: #03DAC6;
    display: flex;
    justify-content: center;
}












