.image {
    width: 200px;
    height: 180px;
}

.favImage {
    position: absolute;
    display: inline;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.boldText {
    font-weight: bold;
    font-size: 20px;
}

.text{
    margin: 10px 0px;
}

.favourited{
	background: #22BB88;
	border: 1px solid black;
    border-radius: 10%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.unFavourited{
	background: red;
	border: none;
	cursor: pointer;
	outline: inherit;
    border: 1px solid black;
    border-radius: 10%;
}


